.body {
    font: 400 16px/1.5 "Lucida Console",Monaco,monospace;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
.container {
    padding-right: 30px;
    padding-left: 30px;
}

.back-button {
    margin-top: 60px;
}

.entry-detail {
    padding: 30px 0;
}

.entry-title{
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 15px;
}
.entry-date {
    margin-bottom: 15px;
}
.entry-header {
    margin-bottom: 30px;
}

.entry-content {
    margin-bottom: 15px;
}